@import './config';

.book {
  &-is-out {
    background-color: #f7f1eb;
    height: 670px;
    margin: 0 auto;
    overflow: visible;
    width: 100%;
  }

  &-grid {
    height: 100%;
    margin: $margin-grid;
    max-width: $max-grid;
    overflow: visible;
  }

  &-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-bottom: 10*$base-size;
    margin-left: $margin-row;
    margin-right: $margin-row;
    overflow: visible;
    z-index: -3;
  }
}

.book-button {
  height: 3rem;
  margin: 0;
  padding: 0;
  width: 60%;
}

.book-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  padding: 200px;
  position: relative;
  z-index: 0;
}

.book-right {
  margin-left: -15px;
  margin-top: 300px;
  overflow: visible;
}

.flex {
  justify-content: center;
  margin-bottom: $base-size;
  overflow: visible;
}

.break {
  display: block;
  padding: 200px;
}

.buttonsm,
.sm {
  display: none;
  text-align: center;
}

@media (max-width: 500px) {
  .book-left {
    margin-left: 0;
    position: absolute;

    .kicker {
      display: none;
    }
  }

  .desk,
  .buttondesk {
    display: none;
  }

  .sm,
  .buttonsm {
    align-items: center;
    display: flex;
  }

  .buttonsm {
    width: 80%;
  }

  .book-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .book-right {
    height: auto;
    margin-top: 30rem;
    object-fit: cover;
    position: relative;
    width: 60%;
  }

  .book-is-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .titlesm {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: $base-size;
  }
}
