@import './config';
/* faera i global? */
.rowItem{
  display: flex;
  flex-wrap: wrap;
}

.card{
  // height er 4,5% meira en width... implement?
  margin: 1rem 0;

  .bottom {
    display: flex;
    height: 6.250rem;
    width: 100%;
    background: $white-text;
  }

  .textBox {
    align-content: stretch;
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 100%;
  }

  .textBox .rowItem {
    justify-content: space-between;
  }

  .textBox .kicker {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    @media (max-width: 969px){
      font-size: 12px;
    }
    line-height: 21px;
    color: #9B9B9B;
  }

  .textBox .cHeader {
    display: flex;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    @media (max-width: 969px){
      font-size: 18px;
    }

    line-height: 29px;
    color: #000000;
  }

  .textBox .readMore {
    display: flex;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    @media (max-width: 969px){
      font-size: 14px;
    }
    align-self: flex-end;

    color: #E3CDB1;
  }

  .image {
    height: 18.125rem;
    @media (max-width: 969px){
      height: 215px;
    }
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    overflow: hidden;
  }

  .image>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.Allrecipes{
  font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 80px;
}
.heading{
  margin-top: 80px;
  height: 115px;
  .textBox{
    align-content: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.thecheck{
  align-self: center;
}
.rowItem{
  justify-content: space-between;
}

