
//grid
$max-grid: 1290px;
$max-grid-md: 799px;
$max-grid-sm: 499px;
$margin-row: -15px;
$margin-grid: 0 auto;
$padding-col: 15px;
$width: 100%;
//stærðir
$base-size: 15px;

//litir

$tan: #E3CDB1;
$dark-gray:#9B9B9B;
$gray-background: #FAFAFA;
<<<<<<< HEAD
$white-text: #FFFFFF;
=======
$bottomLine: #E7E7E7;
>>>>>>> e5c021d0a9164dbbd6b1abe15ff3c34e9b069634


//transitions
$base-transition: transform 300ms ease-in-out;


