// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg

//grid
$max-grid: 1400px;
$max-grid-md: 799px;
$max-grid-sm: 499px;
$margin-row: -10px;
$margin-grid: 0 auto;
$padding-col: 10px;

//stærðir


//litir


//transitions
$base-transition: transform 300ms ease-in-out;


//margin-bottom gildi

