
//grid
$max-grid: 1290px;
$max-grid-md: 839px;
$max-grid-sm: 499px;
$margin-row: -15px;
$margin-grid: 0 auto;
$padding-col: 15px;
$width: 100%;
//stærðir
$base-size: 15px;

//litir

$tan: #e3cdb1;
$dark-gray: #9b9b9b;
$gray-background: #fafafa;
$white-text: #fff;
$bottom-line: #e7e7e7;
$footer-bg: #f2f2f2;
$black: #000;
$footer-gray: #d0d0d0;

//transitions
$base-transition: transform 300ms ease-in-out;

//fonts
