@import './config';

footer {
  display: flex;
  height: 340px;
  width: 100%;
  color: $footer-bg;
  align-items: center;
  justify-content: center;
}

.footercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footertext {
  color: $black;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.footericons {
  display: flex;
  img {
    margin: 1rem;
  }
}

.footersubtext {
  color: $footer-gray;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
}



