// Sækja config
@import './config';
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

button {
  background-color: $translucent;
  border: 1px solid $tan;
  color: $tan;
  font-family: 'Poppins', sans-serif;
  font-size: $base-size;
  height: 2.5*$base-size;
  z-index: 1;

  &:hover {
    background-color: $tan;
    color: $white-text;
  }
}

.bot-button {
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

  .bot-line {
    border: 1px solid $bottom-line;
    height: 1px;

    @media (max-width: $max-grid-sm) {
      border: hidden;
    }
  }
}

.check-out-our {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-style: bold;

  @media (max-width: $max-grid-md) {
    font-size: 1.875rem;
  }

  @media (max-width: $max-grid-sm) {
    font-size: 1.25rem;
  }
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 4*$base-size;
  font-weight: 700;
  margin-bottom: $base-size;
}

.kicker {
  color: $tan;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: $base-size;
}

ul {
  list-style-type: none;
}

.break80 {
  display: block;
  height: 80px;
  width: 100%;
}

.latest-bg-container {
  background: linear-gradient(0deg, $gray-background 88%, $white-text 88%);
  height: 100%;
  @media (max-width: $max-grid-md) {
    background: linear-gradient(0deg, $gray-background 95%, $white-text 95%);
  }
}

.index-bg-cont1 {
  background: linear-gradient(0deg, $gray-background 75%, $white-text 75%);
  height: 100%;
  margin-top: 1rem;

  @media (max-width: $max-grid-md) {
    background: linear-gradient(0deg, $gray-background 90%, $white-text 90%);
  }
}

.index-bg-cont2 {
  background: linear-gradient(0deg, $gray-background 35%, $white-text 35%);
  height: 100%;
  @media (max-width: $max-grid-md) {
    background: linear-gradient(0deg, $gray-background 60%, $white-text 60%);
  }
}

.v-rec-bg-cont {
  background: linear-gradient(0deg, $gray-background 50%, $white-text 50%);
  height: 100%;
  @media (max-width: $max-grid-md) {
    background: linear-gradient(0deg, $gray-background 82%, $white-text 82%);
  }
}
