// Sækja config
@import './config';
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.hero__button {
  font-size: $base-size;
  font-family: 'Poppins', sans-serif;;
  height: 2.5*$base-size;
  background-color: #FAFAFA;
  color: #E3CDB1;
  border: 1px;
  border-color: #E3CDB1;
  ;
  &:hover {
    background-color: #E3CDB1;
    color: #FAFAFA;
  }
}

.book__button {
  font-size: $base-size;
  font-family: 'Poppins', sans-serif;;
  height: 2.5*$base-size;
  background-color: #FAFAFA;
  color: #E3CDB1;
  border: 1px;
  border-color: #E3CDB1;
  width: (5/12) * 100%;
  &:hover {
    background-color: #E3CDB1;
    color: #FAFAFA;
  }
}
.check-out-our {
  font-family: 'Playfair Display, serif';
  font-style: bold;
  font-size: 3*$base-size;
}




.latest {
  img {

  }
}

.title {
  font-size: 4*$base-size;
  font-family: 'Playfair Display, serif';
  font-weight: 700;
  margin-bottom: $base-size;
}

.kicker {
  color: #E3CDB1;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: $base-size;
}

//footer
.newsletter{
  color: white;
  background-color: black;
  height: 340px;
  flex-direction: row;
  align-content: center;
  align-items: flex-end;
  }
  .newsletter_kicker{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #E3CDB1;
  }
  .newsletter_heading{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  color: #FFFFFF;
  }
  .mail{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  }
  .email1{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  color: #525252;
  text-decoration: underline;
  }
  .email2{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: underline;
  }
  .blackbutton{
  font-size: $base-size;
  font-family: 'Poppins', sans-serif;;
  height: 2.5*$base-size;
  background-color: black;
  color: #E3CDB1;
  border: 1px;
  border-color: #E3CDB1;
  }
