// Sækja config
@import './config';
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.check-out-our {
  font-family: 'Playfair Display, serif';
  font-style: bold;
  font-size: 3*$base-size;
}

.title {
  font-size: 4*$base-size;
  font-family: 'Playfair Display, serif';
  font-weight: 700;
  margin-bottom: $base-size;
}

.kicker {
  color: $tan;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: $base-size;
}

