// Sækja config
@import './config';

.grid {
  margin: $margin-grid;
  max-width: $max-grid;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: $margin-row;
  margin-right: $margin-row;
}

.col {
  padding-left: $padding-col;
  padding-right: $padding-col;
  width: $width;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: ($i / 12) * $width;
  }
}

@for $i from 1 through 5 {
  .offset-col-#{$i} {
    margin-left: ($i / 12) * $width;
  }
}
// fyrir botButton
.offset-col-halfgutter {
  margin-left: (1/24) * $width;
}
// fyrir botButton
.col-4nhalf {
  width: (9/24)*$width;
}


/*
medium—upp að 800px
*/
@media (max-width: $max-grid-md) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: ($i / 12) * $width;
    }
  }

  @for $i from 1 through 5 {
    .offset-col-md-#{$i} {
      margin-left: ($i / 12) * $width;
    }
  }
}

/*
small—upp að 500px
*/
@media (max-width: $max-grid-sm) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: ($i / 12) * $width;
    }
  }

  @for $i from 0 through 5 {
    .offset-col-sm-#{$i} {
      margin-left: ($i / 12) * $width;
    }
  }
}
