@import './config';
 .header {
  height: 80px;
  left: 0; right: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: fixed;

  .links {
    a {
      text-decoration: none;
      color: #9B9B9B;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    font-size: $base-size;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
  }
}
