@import './config';
 .header {
  height: 80px;
  left: 0; right: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 400;
  &__grid{
    margin: 0 auto;
    width: $max-grid;
    display: flex;
    justify-content: space-between;
  }

  .links {
    a {
      text-decoration: none;
      color: #9B9B9B;
      margin-left: 2rem;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $base-size;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
  }

  ul {
    @media (max-width: $max-grid-sm) {
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}

#burgericon {
  display: none;
}

#homeicon {
  display: none;
}

.burgermain {
  display: flex;
}

.mobile, .mobile-trigger {
  display: none;
}

.nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

@media only screen and (max-width: 500px) {
  #homeicon {
    display: block;
  }


  #burgericon {
    display: block;
  }

  .burgermain {
    z-index: 300;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
  }

  a {
    color: #000;
    font-family: 'Playfair Display, serif';

    font-size: 3rem;
    color: #000;
  }

  .mobile-trigger {
    display: block;
    margin-top: 14px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
  }

  .nav {
    transform: translateY(-100%);
    transition: transform 300ms ease-in;
    height: 350px;
    background-color: $gray-background;
    flex-direction: column;
    padding: 1rem;
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
  }


  .mobile:checked ~ .nav {
    transform: translateY(54px);
  }

  .mobile:checked ~ .mobile-trigger:before {

  }

  .mobile:checked ~ #burgericon {
    display: none;
  }

  #burgericon {
    display: block;
  }
}
