@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import './config';

.hero {
  background-color: $gray-background;
  background-image: url('../img/cake-bg.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 800px;

  &-grid {
    display: flex;
    margin: 0 auto;
    max-width: 1290px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    max-width: 550px;
    width: 50%;
  }

  &-kicker {
    color: $tan;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4*$base-size;
    font-weight: 700;
    margin-bottom: $base-size;
    width: 100%;
  }

  .hero-button-desk {
    height: 3rem;
    width: 50%;
    z-index: 100;
  }

  .hero-button-sm {
    height: 3rem;
    width: 80%;
    z-index: 100;
  }

  p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: $base-size;
  }

  @media (max-width: 500px) {
    .hero p {
      display: none;
    }

    .hero-content {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      align-items: center;
    }

    .hero-buttons {
      justify-content: center;
    }

    .hero {
      background-position: right;
    }
  }
}
