.hero {
  min-height: 800px;
  background-image: url(../img/cake-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  &__grid {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
  }

  &__content {
    width: 50%;

  }
}

