@import './config';

.mainBody {
  display: flex;
}

.ingredContainer {
  display: flex;
  flex-direction: column;
  height: 16.500rem;
  // tveir og halfur column
  //width: (5/24) * $width;
}

.methodContainer {
  display: flex;
  flex-direction: column;

  .capitul {
    margin: 1rem 0;
  }
}

.listItem{
  display: flex;
  margin-top: 1rem;
  width: 11.250rem;
  justify-content: space-between;
}

.listBox {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


