@import './config';

.newsletter {
  // margin-top: 200px; //breyta?
  align-content: center;
  align-items: flex-end;
  background-color: #000;
  color: #fff;
  flex-direction: row;
  height: 340px;
}

.newsletter-kicker {
  color: #e3cdb1;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.newsletter-heading {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: 53px;
}

.mail {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.email1 {
  color: #525252;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  line-height: 29px;
  text-decoration: underline;
}

.email2 {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  line-height: 29px;
  text-decoration: underline;
}

.blackbutton {
  background-color: #000;
  border: 1px;
  border-color: #e3cdb1;
  color: #e3cdb1;
  font-family: 'Poppins', sans-serif;
  font-size: $base-size;
  height: 2.5*$base-size;
}
