@import './config';

.newsletter {
  // margin-top: 200px; //breyta?
  align-content: center;
  align-items: flex-end;
  background-color: #000;
  color: #fff;
  flex-direction: row;
  height: 340px;
}

.newsletter-kicker {
  color: #e3cdb1;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  @media (max-width: 1044px) {
    font-size: 12px;
  }
  font-style: normal;
  font-weight: 500;
}

.newsletter-heading {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  @media (max-width: 1044px) {
    font-size: 1.875rem;
  }

  @media (max-width: $max-grid-sm) {
    font-size: 1.25rem;
  }
  font-style: normal;
  font-weight: bold;
}

.subscribe-cont {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.mail {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  @media (max-width: 1044px) {
    font-size: 12px;
  }
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.email {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  @media (max-width: 1044px) {
    font-size: 18px;
  }
  font-style: normal;
  font-weight: bold;
  line-height: 29px;
  text-decoration: underline;
}

.email-underline {
  border: 0.5px solid $tan;
  height: 1px;
  margin-top: 12px;
}

.email-cont {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.news-button-cont {
  margin-top: 1rem;
}
