
.videobreak {
  display: block;
  height: 650px;
  width: 100%;
}

.videobreak70 {
  display: block;
  height: 70px;
  width: 100%;
}

.video-grid {
  align-items: space-around;
  display: flex;
  height: 650px;
  margin: $margin-grid;
  max-width: $max-grid;
  z-index: 300;
}

.videotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 550px;
  z-index: 300;

  .video-title {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 4*$base-size;
    font-weight: 700;
    margin-bottom: $base-size;
  }

  .video-icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }

  .video-icons .icon {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
  }

  .icon-text {
    color: $white-text;
    font-family: 'Poppins', sans-serif;
    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-top: auto;
  }

  .video-subtext {
    color: $dark-gray;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
  }
}

.videohero {
  display: flex;
  height: 650px;
  position: absolute;
  top: 70px;
  width: 100%;

  .playicon {
    height: 138px;
    margin: 0 auto;
    position: absolute;
    z-index: 200;
  }

  .darkness {
    background: linear-gradient(to right, #000, #000 40%, rgba(0, 0, 0, 0));
    display: block;
    height: 100%;
    width: 100%;
    z-index: 40;
  }

  .video {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    width: max-content;
  }

  .videoimg {
    height: 100%;
    width: max-content;
  }

  .video-img {
    height: 100%;
  }
}
